<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Forgot Password</title>
</head>

<body>

<h2>Forgot Password</h2>

<input type="email" id="email" placeholder="Enter Email">

<button onclick="sendOTP()">Send OTP</button>

<script>

function sendOTP(){

let email = document.getElementById("email").value

fetch('/api/send-otp/',{
method:'POST',
headers:{
'Content-Type':'application/json'
},
body:JSON.stringify({
email:email
})
})
.then(res=>res.json())
.then(data=>{

if(data.error){
alert("Invalid Email")
}else{
window.location.href="/verify-otp/?email="+email
}

})

}

</script>

</body>
</html>