<!DOCTYPE html>
<html>
<head>
<title>Reset Password</title>
</head>

<body>

<h2>Reset Password</h2>

<input type="password" id="password" placeholder="New Password">

<button onclick="resetPassword()">Reset</button>

<script>

const email = new URLSearchParams(window.location.search).get("email")

function resetPassword(){

let password = document.getElementById("password").value

fetch('/api/reset-password/',{
method:'POST',
headers:{
'Content-Type':'application/json'
},
body:JSON.stringify({
email:email,
password:password
})
})
.then(res=>res.json())
.then(data=>{

alert("Password Reset Successful")
window.location.href="/login/"

})

}

</script>

</body>
</html>